%html
  %head
    %title
      テーマ
    %a{rel: 'stylesheet', href: '/stylesheets/style.css'}
    %script{src: "https://unpkg.com/axios/dist/axios.min.js"}
    %script{src: "https://unpkg.com/vue"}
    %script{src: "https://code.jquery.com/jquery-3.3.1.min.js"}
    = javascript_pack_tag 'sort.js', 'data-turbolinks-track': 'reload', defer: true
  %body
    %div{id: "app"}
      %h1 
        = "#{@thema.title}の推しソートスタート！"
      %li{"v-for":"object in objectIndex", ":key":"object.name"}
      